<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 采用注释的方式配置bean -->
	<context:annotation-config />

	<!-- 配置要扫描的包 -->
	<context:component-scan base-package="org.jview.fwork.schedule,org.jview.fwork.basedata" />
	
	<!-- 系统配置参数
		sql.ignoreKey,sql.logSqlIgnore,sql.ignoreSqlId这三个参数的配置与spring-mybatis.xml中的配置效果一样，那个先起作用，这个再起作用。一般情况下任配一个就行了，效果一样。
	 -->
	<bean id="sysconfigs" class="org.jview.fwork.basedata.util.Sysconfigs">
		<property name="properties">
			<props>  
                <prop key="sql.logSqlIgnore">select_seq,select_count</prop> 
                <prop key="sql.ignoreKey">
                	FROM tf_sysconfig WHERE ( IF_dEL = 0 and STATUS = 1 )
                </prop>
                <prop key="sql.ignoreSqlId">
                	ModelMapper:selectByExample
                	LogDbMapper:insert
                </prop>
                <prop key="sql.logInfo">0</prop>
                <prop key="sql.logWarn">2000</prop>
            </props>
         </property>
	</bean>

	<!-- 读入配置属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties,classpath:service.properties" />

	<!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />	
	
	<import resource="spring-mail.xml" />
	<import resource="spring-schedule.xml" />
	<import resource="spring-mybatis.xml" />
	
	
</beans>